<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="sql1" connectionString="Data Source=.;Initial Catalog=UsersManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="SQLRemote" connectionString="Data Source=WIN-9F4RKFLU0KL;Initial Catalog=UsersManagement;User ID=sa;Password=Hola4521" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>